/vendor
Homestead.json
Homestead.yaml
.env

storage/oauth-private.key
storage/oauth-public.key

node_modules
public/js/app.js
public/css/app.css
public/js/admin.js
public/css/admin.css
public/mix-manifest.json

.history
public/js/*chunk
public/fonts
/config/app.php
